* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff7f7;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

a {
    font-size: 12px;
}


header {
    background-color: #FFFFFF;
    border-bottom: #b7b7b7 solid 1px;
}

div.burger-menu i {
    background-color: #42ea2c;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    font-size: 16px;
    height: 30px;
    width: 40px;
    margin: 10px 0px;
    padding: 6px;
}

div .logo {
    width: 40%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    display: flex;
}

.top-header-left {
    display: flex;
    width: 50%;
}

.top-header-rigth {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}


header ul li {
    list-style-type: none;
}

li{
    margin-left: 7px;
    background-color: #42ea2c;
    border-radius: 7px;
    padding: 2.3px 3.3px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
}
.main-header {
    display: flex;
    width: 95%;
    margin: auto;
}

main {
    width: 90%;
    margin: 0 auto;
}

footer{
    background-color: #42ea2c;
}

main .carrusel {
    margin: auto;
    display: flex;
}

.product-card {
        width: 35%;
        display: flex;
        height: 60px;
        text-align: center;
        background-color: #c7c9c7;
        margin: 10px 5px;
        align-items: center;
        justify-content: center;
}

h5{
    font-size: 12px;
    padding: 11px 5px;
}

main .article {
    width: 100%;
    display: flex;
    height: 400px;
    text-align: center;
    background-color: #c7c9c7;
    align-items: center;
    justify-content: center;
    margin: auto ;
}

.categoria {
    width: 100%;
    border: dotted 2px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

footer .footer-items{
    display: grid;
    text-align: center;
    padding-top: 15px ;
}

.item {
    margin: 5px;
}


footer .copyrigth {
    text-align: center;
    margin-top: 15px;
}


