<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Bienvenidxs a SPORT COLLECTIONS</title>
</head>

<body>

    <body>
        <header>
            <div class="main-header">
                <div class="top-header-left">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                    <div class="logo-img">
                        <img src="src/public/images/SC-logo.jpg" alt="Logo">
                    </div>
                </div>
                <nav class="top-header-rigth">
                    <li><i class="fa-solid fa-user"></i><a href="users/login.html">Iniciar Sesión</a></li>
                    <li><i class="fa-solid fa-user"></i><a href="src/users/register.html">Registrarse</a></li>
                    <li><i class="fa-solid fa-bag-shopping"></i><a href="src/products/productsCart.html">Carrito</a></li>
                </nav>
            </div>
        </header>
        <main>
            <section class="carrusel">Nuevos ingresos
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>
            </section>
            <section class="categoria">
                <div class="article">
                    <h3>CATEGORIA</h3>
                </div>
            </section>
            <section class="categoria">
                <div class="article">
                    <h3>CATEGORIA</h3>
                </div>
            </section>
            <section class="categoria">
                <div class="article">
                    <h3>CATEGORIA</h3>
                </div>
            </section>
            <section class="categoria">
                <div class="article">
                    <h3>CATEGORIA</h3>
                </div>
            </section>

            <section class="carrusel">Mas vendidos
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>
                <div class="product-card">
                    <h5>Avoine Hooded Quilted Jacket</h5>
                </div>

        </main>
        <!-- <%-include('partials/footer')%> -->

        <footer>
            <section class="footer-items">
                <div class="item">
                    <p>CAMBIOS Y DEVOLUCIONES</p>
                </div>
                <div class="item">
                    <p>CONDICIONES DE COMPRA</p>
                </div>
                <div class="item">
                    <p>POLÍTICA DE PRIVACIDAD</p>
                </div>
                <div class="item">
                    <p>TÉRMINOS DE SERVICIO</p>
                </div>
                <div class="item">
                    <p>POLÍTICA DE COMPRA</p>
                </div>
                <div class="item">
                    <p>LEGAL</p>
                </div>
            </section>
            <section class="footer">
                <div class="copyrigth">
                    <p>@2021 Reservados todos los derechos.</p>
                </div>
            </section>
        </footer>
    </body>

</html>