<footer>
    <section class="footer-items">
        <div class="item">
            <p>CAMBIOS Y DEVOLUCIONES</p>
        </div>
        <div class="item">
            <p>CONDICIONES DE COMPRA</p>
        </div>
        <div class="item">
            <p>POLÍTICA DE PRIVACIDAD</p>
        </div>
        <div class="item">
            <p>TÉRMINOS DE SERVICIO</p>
        </div>
        <div class="item">
            <p>POLÍTICA DE COMPRA</p>
        </div>
        <div class="item">
            <p>LEGAL</p>
        </div>
    </section>
    <section class="footer">
        <div class="copyrigth">
            <p>@2021 Reservados todos los derechos.</p>
        </div>
    </section>
</footer>
