<header>
    <div class="main-header">
        <div class="top-header-left">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="logo-img">
                <img src="" alt="Logo">
            </div>
        </div>
        <nav class="top-header-rigth">
            <li><i class="fa-solid fa-user"></i><a href="src/login">Iniciar Sesión</a></li>
            <li><i class="fa-solid fa-user"></i><a href="src/registro">Registrarse</a></li>
            <li><i class="fa-solid fa-bag-shopping"></i><a href="/carrito">Carrito</a></li>
        </nav>
    </div>
</header>